#AlertaSesion {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#IniciarSesionErr {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#IndexBody {
    padding: 0 10px;
    min-height: 100vh;
}