{{define "LateralContent"}}
<div id="SpaceLC">
    <div id="LateralContent">
        <div id="LCLogoDiv">
            <p style="text-align: center;">
                <img id="LCLogo" src="/sources/img/Zero.png" alt="Logo">
            </p>
        </div>
        <div id="LCNombreDiv">
            <a href="/register" id="LCNombre">{{.Nombre}}<img id="Edit" src="/sources/icons/edit.png" alt=""></a>
        </div>
        <div id="LCContent">
            <h5>Prueba</h5>
        </div>
        <div id="cLC">
            <p>CERRAR</p>
        </div>
    </div>
    <script src="sources/js/LateralContent.js"></script>
</div>
{{end}}