<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{block "Header" .}}
    {{end}}
</head>

<body>
    <form action="" method="post">
        <input type="text" placeholder="Nombre" name="name" />
        <input type="email" placeholder="Correo" name="mail" />
        <input type="password" placeholder="Contraseña" name="pass" />
        <input type="submit" />
    </form>
</body>

</html>